@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');



.img{
width: max-width ;

}

.navbar-brand {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 35px;
}
 
p {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 35px;
}

h1{
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: gray;
    background-image: url("https://i.pinimg.com/736x/90/fd/4a/90fd4aa54f0ce939e48f51444a8a3a34.jpg");
}
footer {
    text-align: center;
    font-size: 120%;
}
.col-12 img {
width: 80%;
margin: 30px;

}
