@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


div {
    border: 1px solid slategrey ;
}

.img{
width: max-width ;

}

.navbar-brand {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 35px;
}
 
p {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 35px;
}

h1{
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: gray;

}
footer {
    text-align: center;
}